<template lang="pug">
  nav(v-if="pageNumber > 0" class="pagination is-normal is-primary is-pulled-right" role="navigation" aria-label="pagination")
    a(class="pagination-previous" :disabled="pageNumber < 2" @click="submit(false)") Previous
    a(class="pagination-next" @click="submit(true)") Next
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  name: 'Pagination',
  components: {
  },
  computed: {
    ...mapState({
      pageNumber: state => state.pageNumber
    })
  },
  methods: {
    ...mapActions({
      handlePagination: 'handlePagination',
      buildQueryParam: 'buildQueryParam',
      getRecipes: 'getRecipes'
    }),
    submit (bool) {
      this.handlePagination(bool)
      this.buildQueryParam()
      this.getRecipes()
    }
  }
}
</script>
