<template lang="pug">
    section(class="section")
        div(class="container is-center")
          div(class="tile is-ancestor")
            div(class="tile")
              Search
              GalleryRecipes
</template>

<script>
import Search from '../components/Search/Search'
import GalleryRecipes from '../components/Gallery/Gallery-Recipes'

export default {
  name: 'RecipePuppy',
  components: {
    Search,
    GalleryRecipes
  }
}
</script>
