<template lang="pug">
  section
    b-modal(:active.sync="showModal" :width="500" scroll="keep")
      div(class="card")
        div(class="card-content")
          div(class="media")
            div(class="media-content")
              p(class="title is-4") {{ title }}
              label(class="label") Ingredients:
              p(class="subtitle is-6") {{ ingredients }}
              a(class="button is-primary is-outlined" :href="href" target="_blank") Check this recipe
</template>

<script>
import EventBus from '../../utils/event-bus'

export default {
  data () {
    return {
      title: '',
      ingredients: [],
      href: '',
      thumbnail: '',
      showModal: false
    }
  },
  mounted () {
    EventBus.$on('OPEN_MODAL', (payload) => {
      this.updateData(payload)
    })
  },
  methods: {
    updateData (payload) {
      this.title = payload.title
      this.ingredients = payload.ingredients
      this.thumbnail = payload.thumbnail
      this.href = payload.href
      this.showModal = true
    }
  }
}
</script>
