<template lang="pug">
  div(class="tile is-parent is-8 is-fullwidth is-vertical")
    div(class="tile is-child is-paddingless")
      div(v-if="pageNumber < 1" class="card-content")
        p(class="title is-5") Welcome to the Vue JS Recipe Lab!
      div(v-else-if="error" class="card-content")
        p(class="title is-5") no recipes found
      div(v-else-if="(recipes.length > 0)" class="card-content")
        div(class="media" v-for="recipe in recipes")
          div(class="media-left is-4")
            figure(class="image is-64x64")
              img(:src="recipe.thumbnail")
            br
          div(class="media-left" is-8)
            p(class="title is-5") {{ recipe.title }}
            button(
              class="button is-small is-primary is-outlined"
              @click="openModal({ title: recipe.title, ingredients: recipe.ingredients, thumbnail: recipe.thumbnail, href: recipe.href })"
            ) {{ buttonText }}
      br
      div(v-if="recipes.length" class="tile is-pulled-right")
        pagination
</template>

<script>
import { mapState } from 'vuex'
import EventBus from '../../utils/event-bus'
import Pagination from '../Pagination/Pagination'

export default {
  name: 'GalleryRecipes',
  components: {
    Pagination
  },
  data () {
    return {
      buttonText: 'Open recipe'
    }
  },
  computed: {
    ...mapState({
      pageNumber: state => state.pageNumber,
      recipes: state => state.recipes,
      error: state => state.error
    })
  },
  methods: {
    openModal (payload) {
      EventBus.$emit('OPEN_MODAL', payload)
    }
  }
}
</script>
