<template lang="pug">
  div(class="tile is-parent is-vertical is-4")
    article(class="tile is-child is-primary")
      div(class="field")
        label(class="label") Keyword
        div(class="control")
          input(v-model="keyword" class="input" type="text" placeholder="For e.g. Donuts, Peking Duck")
      div(class="field")
        label(class="label") Ingredients
        b-taginput(
          :value="ingredients"
          ellipsis
          icon="label"
          placeholder="Find by ingredient name"
        )
      br
      button(class="button is-primary is-rounded is-fullwidth" @click="submit") Search
      br
</template>

<script>
import { mapActions } from 'vuex'
import { mapFields } from 'vuex-map-fields'

export default {
  name: 'Search',
  data () {
    return {
      initPageNumber: 1
    }
  },
  computed: {
    ...mapFields([
      'keyword',
      'ingredients'
    ])
  },
  methods: {
    ...mapActions({
      resetPageNumber: 'resetPageNumber',
      resetStore: 'resetStore',
      buildQueryParam: 'buildQueryParam',
      getRecipes: 'getRecipes'
    }),
    submit () {
      this.resetPageNumber(this.initPageNumber)
      this.resetStore()
      this.buildQueryParam()
      this.getRecipes()
    }
  }
}

</script>
