@import "~bulma/sass/utilities/_all";

$primary: #8c67ef;
$twitter: #4099FF;

div {
  &.card-content {
    &.is-paddingless {
      display: grid;
      grid-template-columns: repeat(auto-fill, 100px);
      grid-auto-rows: auto;
      grid-gap: 1rem;
    }
  }
}

p {
  &.title {
    &.is-5 {
      margin-bottom: 14px;
    }
  }
}

@import "~bulma";
@import "~buefy/src/scss/buefy";
