<template lang="pug">
  div(id="app")
    section(class="section")
      div(class="container")
        h1(class="title") {{ title }}
    router-view
    Modal
</template>

<script>
import RecipePuppy from './views/Recipe-Puppy'
import Modal from './components/Modal/Modal'

export default {
  data () {
    return {
      title: 'Recipe Lab'
    }
  },
  components: {
    RecipePuppy,
    Modal
  }
}
</script>
